.logbar {
    margin-bottom: 18px;
    overflow: visible;
}

.logobar_inner {
    background-color: red;
    border-radius: 4px 4px 4px 4px;
}

.logobar_container {
    font-size: 2em;
    font-weight: bold;
}

.container {
    /*
    background-color: #d2b48c;
    */
    margin-left: 15%;
    margin-right: 15%;
    font-family: sans-serif;
}

.content_list {
    border-width: 1px;
    border-style: solid;
    padding: 25px;
    margin: 0px 0px 0px 0px;
    width: 700px;
    float: right;
}

.content_navi {
    border-width: 1px;
    border-style: solid;
    padding: 25px;
    margin: 0px 770px 0px 0px;
}

.content_title {
    font-size: 1.5em;
    font-weight: bold;
}

.footer {
    clear: both;
    padding: 10px;
}

